<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- add value for user name and token -->
    <add key="user" value="myoaunghlaing" />
    <add key="token" value="" />
    <!-- instance url for api call  -->
    <add key="baseUrl" value="https://api.github.com" />
    
  </appSettings>
</configuration>

